.d-flex-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form {
    display: flex;
    padding: 0.5em;
}

.todo-submit-btn {
    width: 30%;
    margin-left: 0.5em;
}

.todo-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.todo-element-content {
    font-size: 1.2em;
}

.todo-delete-btn {
    width: 30%;
}